/* Importing main font */
@font-face {
  font-family: "geomanist";
  src: local("geomanist"),
    url(./Geomanist-Regular&Italic/Webfont/Geomanist-Regular-Webfont/geomanist-regular-webfont.woff)
      format("woff");
}
/* Root css configuration */
:root {
  box-sizing: border-box;
  --color-primary: #633490;
  font-family: "geomanist" !important;
}
body {
  font-family: "geomanist" !important;
}
img.gif {
  object-fit: cover !important;
  width: 100%;
}
/* Elements custom */
h1 {
  font-size: 140px !important;
  color: #a75fb4 !important;
  font-weight: 100 !important;
}
.h1-after::after {
  content: url(/cursor%201.png);
  margin-left: 2vw;
  height: 140px;
}
h2 {
  font-size: 70px !important;
  color: #444445 !important;
}
h3 {
  font-size: 45px !important;
  color: #c7c5c7 !important;
}
h4 {
  font-size: 40px !important;
  color: #632e96 !important;
}
h5 {
  font-size: 40px !important;
  text-transform: uppercase;
  color: #444445 !important;
}
h6 {
  font-size: 22px !important;
  color: #444445 !important;
}
.p1 {
  font-size: 18px !important;
  color: #444445 !important;
}
.p2 {
  font-size: 18px !important;
  color: #707070 !important;
}
.p3 {
  font-size: 18px !important;
  color: #444445 !important;
}
.p4 {
  font-size: 16px !important;
  color: #444445 !important;
}
.gradient-header {
  background: transparent
    linear-gradient(270deg, #562783 0%, #7a29c7 56%, #904ada 100%) 0% 0%
    no-repeat padding-box;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
label {
  display: block !important;
}
input,
textarea {
  border: none;
  border-bottom: 2px solid #c7c5c7;
  width: 100% !important;
}
input:focus,
textarea:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid #efcc56 !important;
}
input:invalid {
  outline: none;
  border: none;
  border-bottom: 2px solid #ed5a6b !important;
}
textarea {
  resize: none !important;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 14px;
  color: #c7c5c7;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px;
  color: #c7c5c7;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 14px;
  color: #c7c5c7;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px;
  color: #c7c5c7;
}
/* Custom nav bar css */
.navbar-brand {
  padding-left: 8vw !important;
  padding-top: 2vh !important;
}
.nav-link {
  margin-top: 2vh !important;
  margin-right: 1vw !important;
}
.nav-grp {
  margin-right: 3vw !important;
}
.active-span {
  padding-top: 1vh !important;
  box-sizing: content-box;
  border-top: 4px solid;
  border-image-source: linear-gradient(
    90deg,
    rgba(239, 204, 86, 1) 0%,
    rgba(239, 204, 86, 1) 45%,
    #ffffff 45%,
    #ffffff 100%
  );
  border-image-slice: 1;
}
.active-span-header {
  padding-top: 1vh !important;
  box-sizing: content-box;
  border-top: 4px solid;
  border-image-source: linear-gradient(
    90deg,
    rgba(239, 204, 86, 1) 0%,
    rgba(239, 204, 86, 1) 20%,
    #ffffff 20%,
    #ffffff 100%
  );
  border-image-slice: 1;
}
.super {
  display: inline-block;
  position: absolute;
  margin-top: -20px !important;
}
.super::before {
  content: "<";
  color: #707070 !important;
  font-size: larger;
  font-weight: bolder;
}
.navbar-toggler-icon {
  background-image: url("/Hamburger icon.svg") !important;
}
.navbar-toggler.collapsed {
  border: none !important;
}
/* Request a demo button css */
.primary-button {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  margin-right: 8vw !important;
  margin-top: 2vh !important;
  padding-right: 2vw !important;
  padding-left: 2vw !important;
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
  box-shadow: 0px 2px 4px #633490 30% !important;
  opacity: 1 !important;
}
.primary-button:hover {
  box-shadow: 0px 4px 12px #6840ad 30% !important;
  border-color: #562783 !important;
  background-color: #7a29c7 !important;
}
.primary-button:active {
  box-shadow: 0px 2px 4px #904ad4 30% !important;
  border-color: #7a29c7 !important;
}
/* Footer css */
.footer {
  max-width: 100vw !important;
  min-height: 50vh;
  background: transparent
    linear-gradient(
      303deg,
      #9656a2 0%,
      var(--unnamed-color-633490) 27%,
      #34194d 100%
    )
    0% 0% no-repeat padding-box;
  background: transparent
    linear-gradient(303deg, #9656a2 0%, #633490 27%, #34194d 100%) 0% 0%
    no-repeat padding-box;
  opacity: 1;
}
.footer-link {
  color: #ffffff;
  font-size: 16px;
  margin-top: 20px;
}
.lift-me-up {
  margin-top: -10vh;
}
/* Custom margin */
.margin-top-120 {
  margin-top: 120px !important;
}
.margin-top-56:first-child {
  margin-top: 56px !important;
}
.margin-top-24 {
  margin-top: 24px !important;
}
.margin-top-56 {
  margin-top: 48px !important;
}
.margin-top-80 {
  margin-top: 80px !important;
}
.padding-horizontal-80 {
  padding-left: 80px !important;
  padding-right: 80px !important;
}
/* Utilities */
.contain-65 {
  width: 65% !important;
}
.contain-50 {
  width: 50% !important;
}
.contain-90 {
  width: 90% !important;
}
.letter-space-36 {
  letter-spacing: 0.36px;
}
.bold {
  font-weight: bold;
}
.bolder {
  font-weight: bolder;
}
.contact-btn {
  background-color: #ffffff !important;
  box-shadow: #efd356 16% !important;
  border-color: #efd356 !important;
  border-radius: 3px;
  padding-top: 15px;
  padding-bottom: 5px;
}
.contact-btn:hover {
  background-color: #efd356 !important;
}
.contact-btn:active {
  background-color: #707070 !important;
  background-origin: #c7c5c7 16% !important;
  border-color: #c7c5c7 !important;
}
.contact-btn:active > span {
  color: #ffffff !important;
}
.contact-btn > span {
  margin-top: 2vh !important;
  margin-right: 2vw !important;
  margin-left: 2vw !important;
  margin-bottom: 2vh !important;
}
.highlight {
  color: #b561e2;
}
/* Section Header */
.section-header {
  background: transparent linear-gradient(280deg, #814cb4 0%, #ad74b7 100%) 0%
    0% no-repeat padding-box;
  opacity: 1;
  width: 100% !important;
}
.position-overlay {
  padding-top: 3vh;
  margin-left: -4vw;
}
.section-title {
  color: #f6f5f5;
  letter-spacing: 0.9px;
  text-align: left;
  font-size: 45px;
  margin-top: 8vh !important;
}
/* Accordion */
.card-header {
  background-color: #ffffff !important;
}
/* Media Queries */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 50px !important;
  }
  .h1-after::after {
    content: "";
  }
  h4 {
    font-size: 24px !important;
  }
  .contain-65 {
    width: 95% !important;
  }
  .contain-50 {
    width: 95% !important;
  }
  .contain-90 {
    width: 95% !important;
  }
  .margin-top-120 {
    margin-top: 32px !important;
  }
  .margin-top-80 {
    margin-top: 28px !important;
  }
  .margin-top-56 {
    margin-top: 20px !important;
  }
}
